/target
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/rustCrates.iml
/.idea/vcs.xml
/backup
/cryto_predictions_python/predictions/*
/cryto_predictions_python/saved_models/*

/cryto_predictions_python/myenv/*
/tests/
